<template>
    <form class="" method="post" @submit.prevent="postNow">
        <input type="text" placeholder="name" v-model="name">
        <input type="text" placeholder="email" v-model="email">
        <button type="submit" name="button">Submit</button>
    </form>

</template>
<script>

import axios from 'axios';

export default {
    name: 'formPost',
    data() {
        return {
            name: '',
            email: ''
        };
    },
    methods: {
        postNow() {
            axios.post('http://' + process.env.VUE_APP_BACK_CONTAINER + ':8080/registration', {
                    name: this.name,
                    email: this.email
            });
        }
    }
}
</script>