<template>
    <ul v-if="posts && posts.length">
        <li v-for="post in posts" :key= post>
            <p><strong>{{post.name}} {{post.email}} {{post.creation}} <br></strong></p>
            <p>{{post.body}}</p>
        </li>
    </ul>
</template>

<script>
import axios from 'axios';

export default {
    name: 'Test',
    data() {
        return {
            posts: [],
            errors: []
        }
    },

    created() {
        axios.get('http://'+process.env.VUE_APP_BACK_CONTAINER+':8080/users', {headers: {

        }})
        .then(response => {
            this.posts = response.data
        })
        .catch(e => {
            console.log(e)
        })
    }
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>